.table__title {
    padding: 5px;
    margin: 30px 20px 30px 20px;
    background-color: rgb(221, 222, 223);
    border-radius: 20px;
    box-shadow: 20px 20px 16px -5px rgb(184, 182, 184);
  }
  .table__cell {
    border: 1px solid rgb(153, 118, 118);
    padding: 20px;
  }
  .table__header {
    background-color: rgb(221, 222, 223);
    color: rgb(37, 36, 37);
    font-weight: normal;
    font-size: 20px;
  }
  .table__changeColor {
    color: rgb(160, 0, 0);
  }
  .table__row:nth-child(even) {
    background-color: rgb(216, 240, 240);
  }
  .table__row:hover {
    background-color: rgb(211, 201, 183);
  }